body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: black;
    color: orange;
}

h1 {
    text-align: center;
}


form {
    background-color: #1a1a1a;
    padding: 20px;
    border: 1px solid orange;
    margin-bottom: 20px;
}

input, select, button {
    padding: 8px;
    margin: 5px;
}

button {
    background-color: orange;
    color: black;
    border: none;
}

.task {
    background-color: #1a1a1a;
    color: orange;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid orange;
}

.completed {
    text-decoration: line-through;
    background-color: #333333;
}